<img src="https://danarquio.github.io/preentrega1diaz/static/media/Dragon.561ef1fd2e215fdac7e01d9795925577.svg" style="max-height: 200px;">
<div className="descproducto">

<form method="POST" action="/api/prod/add">
    <label for="title">Nombre del Producto</label>
    <input type="text" name="title">

    <label for="description">Descripción del Producto</label>
    <input type="text" name="description">

    <label for="price">Precio por minimo</label>
    <input type="number" name="price">

    <label for="stock">Stock actual</label>
    <input type="number" name="stock">

    <label for="category">Categoria</label>
    <select name="category">
        <option value="Curados">Curados</option>
        <option value="Embutidos">Embutidos</option>
        <option value="Deshidratados">Deshidratados</option>
        <option value="Cocidos">Cocidos</option>
    </select>

    <label for="thumbnails">Link de Miniatura sin fondo</label>
    <input type="text" name="thumbnails">

    <label for="carru1">Link de imagen 1</label>
    <input type="text" name="carru1">

    <label for="carru2">Link de imagen 2</label>
    <input type="text" name="carru2">

    <label for="carru3">Link de imagen 3</label>
    <input type="text" name="carru3">

    <label for="minimo">Cantidad minima de venta</label>
    <input type="number" name="minimo">

    <label for="availability">Disponibilidad</label>
<div>
    <input type="radio" id="availability-true" name="availability" value="true">
    <label for="availability-true">Sí</label>

    <input type="radio" id="availability-false" name="availability" value="false">
    <label for="availability-false">No</label>
</div>

    <button type="submit">Registrar producto</button>
</form>

</div>

<a href="/"><h2>Volver al inicio</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css">