<img src="https://danarquio.github.io/preentrega1diaz/static/media/Dragon.561ef1fd2e215fdac7e01d9795925577.svg" style="max-height: 200px;">
<div className="descproducto">
    <h1>Correo Enviado</h1>
        <p>Se ha enviado un enlace para restablecer tu contraseña a tu correo electrónico.</p>
</div>

<a href="/"><h2>Volver al inicio</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css">