<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
     <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <img src="https://danarquio.github.io/preentrega1diaz/static/media/Dragon.561ef1fd2e215fdac7e01d9795925577.svg" style="max-height: 200px;">
    <h1>Bienvenido a Dracarnis</h1>
    <h3>visita cualquiera de nuestras secciones</h3>
    
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/profile">Ir a tu perfil de usuario</a></li>
        <li><a href="/mockingproducts">Ir a Mocking de Productos ficticios</a></li>
    </ul>
    

<script src="/js/chat.js"></script>
</body>
</html>

