<img src="https://danarquio.github.io/preentrega1diaz/static/media/Dragon.561ef1fd2e215fdac7e01d9795925577.svg" style="max-height: 200px;">
<div className="descproducto">
    <form method="POST" action="/api/user/login">
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
</form>
<hr>
<a href="/api/user/github"><button>Ingresar con github</button></a>
<hr>
<a href="/register">Registrarse</a>


</div>

<a href="/"><h2>Volver al inicio</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css">