<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Producto Agregado</title>
  <!-- Estilos CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <img src="https://danarquio.github.io/preentrega1diaz/static/media/Dragon.561ef1fd2e215fdac7e01d9795925577.svg" style="max-height: 200px;">
  <div className="descproducto">
    <h1>¡Nuevo producto agregado!</h1>
    <p>Detalles del producto:</p>
    <ul>
      <li><strong>Nombre del Producto:</strong> {{title}}</li>
      <li><strong>Precio:</strong> {{price}}</li>
    </ul>
    <a href="/addProduct">Cargar otro producto</a>
  </div>
</body>
</html>

<a href="/"><h2>Volver al inicio</h2></a>

