<img src="https://danarquio.github.io/preentrega1diaz/static/media/Dragon.561ef1fd2e215fdac7e01d9795925577.svg" style="max-height: 200px;">
<div className="descproducto">

<form method="POST" action="/api/user/register">
    <label for="first_name">First name</label>
    <input type="text" name="first_name">

    <label for="last_name">Last name</label>
    <input type="text" name="last_name">

    <label for="email">Email</label>
    <input type="email" name="email">

    <label for="age">Age</label>
    <input type="number" name="age">

    <label for="password">Password</label>
    <input type="password" name="password">

    <label for="rol">Rol</label>
    <select name="rol">
        <option value="user">User</option>
        <option value="admin">Admin</option>
    </select>

    <button type="submit">Register</button>
</form>

</div>

<a href="/"><h2>Volver al inicio</h2></a>

<link rel="stylesheet" type="text/css" href="/css/style.css">